.bodys {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 30vh;
}


@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%); }
}

/* .slider styling */
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* .slide-track styling */
.slider .slide-track {
	animation: scroll 20s linear infinite; /* Use actual animation time here */
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around; /* Adjust as needed */
	min-width: 200%; /* Adjust based on number of slides */
	position: absolute;
	top: 0;
	left: 0;
	width: auto; /* Adjust width as needed */
}

/* .slide styling */
.slider .slide {
	height: 100px; /* Adjust height as needed */
}

/* Pause animation on hover */
.slider:hover .slide-track {
	animation-play-state: paused;
}

/* Hover effect on slides */
.slider .slide {
	filter: grayscale(100%);
	transition: 300ms all linear;
}

.slider .slide:hover {
	filter: none;
}