*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Sides {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 60px;
}
@media (max-width: 640px){
  .Sides{
    display: flex;
    flex-direction: column;
  }
}