*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.VacanciesBackImage {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -9;
  }
 
  .VacanciesBackImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .VacanciesBackImage .content{
    position: absolute;
    left: 45vw;
    top: 20vw;
    font-size: 30px;
    display: flex;
  }
  .VacanciesContainer {
    width: 1fr;
    height: 1fr;
    padding: 20px;
  }
  
  .VacanciesContainer .VacanciesHeader {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.686);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    border-radius: 10px;
  }
  
  .VacanciesInfo {
    border: 1px solid rgba(128, 128, 128, 0.686);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 1fr;
    border-radius: 10px;
    overflow: auto;
    margin: 20px;
  }
  
  .vacinfo {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50vh;
 
  }
  
  .VacanciesInfo ul {
    list-style: none;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.289);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
  }
  
  .vacinfo a {
    text-decoration: none;
    color: black;
  }


  @media (max-width: 600px){
    .VacanciesBackImage {
      width: 100%;
      height: 40vh;
    }

    .VacanciesInfo ul {
      font-size: 14px;
    }
    .VacanciesContainer .VacanciesHeader{
      width: 1fr;
    }
  }